@import "tailwindcss";

:root {
  font-family: Inter, sans-serif;
  color: #f3f4f6;
  background-color: #0b0f19;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #0b0f19;
  color: #f3f4f6;
}

* {
  box-sizing: border-box;
}

.section-title {
  @apply text-3xl font-semibold mb-10 text-white;
}

.card {
  @apply bg-[#111827] border border-white/5 rounded-2xl p-6 transition-all duration-300 hover:-translate-y-1 hover:border-blue-500/30;
}